<div class="large-6">
	<recipe-form></recipe-form>
</div>
<div class="callout alert" data-closable="slide-out-right" ng-show="error">
	<p>
		{{ error }}
	</p>
	<p class="close" ng-click="closeError()">
		&times;
	</p>
</div>
<div ng-show="json">
	<h4>{{ json.title }}</h4>
  <div class="recipe-info">
    <p>Servings: <b>{{ json.serves }}</b></p>
    <p>Preparation Time: <b>{{ json.time.prep }}</b></p>
    <p>Cooking Time: <b>{{ json.time.cook }}</b></p>
  </div>
	<div class="row">
		<div class="large-6 columns">
			<div>
				<h5>Ingredients</h5>
				<p class="ingredient-key">Underlined words are recognised ingredients.</p>
				<ul class="ingredient-list">
					<li ng-repeat="line in ingredientDisplay track by line.index"><span
						ng-repeat="seg in line.segments track by $index"><span
							ng-repeat="part in seg.parts track by $index"
							ng-class="{ 'matched-ingredient': part.matched }"
							ng-click="openIngredient(part)">{{ part.text }}</span><span
							class="segment-flag"
							ng-show="!seg.matched"
							title="Ingredient not recognised">!</span><span ng-show="!$last"> and </span></span></li>
				</ul>
				<a class="button alert"
					ng-show="json.notFoundIngredients.length"
					href="#/ingredients">
					{{ json.notFoundIngredients.length }}
					ingredient{{ json.notFoundIngredients.length === 1 ? '' : 's' }} not found — add them
				</a>
			</div>
			<div>
				<h5>Method</h5>
				<ul class="method-list">
					<li ng-repeat="item in json.method track by $index">{{ item }}</li>
				</ul>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="img-container">
				<a ng-href="{{ json.self_url }}" class="th" target="_blank" >
					<img ng-src="{{ json.image }}" />
				</a>
			</div>
		</div>
	</div>
</div>
