<div class="large-6">
	<recipe-form></recipe-form>
</div>
<div class="callout alert" data-closable="slide-out-right" ng-show="error">
	<p>
		{{ error }}
	</p>
	<p class="close" ng-click="closeError()">
		&times;
	</p>
</div>
<div ng-show="json">
	<h4>{{ json.title }}</h4>
  <div class="recipe-info">
    <p>Servings: <b>{{ json.serves }}</b></p>
    <p>Preparation Time: <b>{{ json.time.prep }}</b></p>
    <p>Cooking Time: <b>{{ json.time.cook }}</b></p>
  </div>
	<div class="row">
		<div class="large-6 columns">
			<div>
				<h5>Ingredients</h5>
				<ul>
					<li ng-repeat="ingredientLine in json.ingredientLines track by $index">
						<span class="ingredient-status"
							ng-class="{ 'found': isIngredientFound($index), 'not-found': !isIngredientFound($index) }"
							title="{{ isIngredientFound($index) ? 'Ingredient recognised' : 'Ingredient not recognised' }}">
							{{ isIngredientFound($index) ? '✓' : '✗' }}
						</span>
						{{ ingredientLine.text }}
					</li>
				</ul>
				<button class="button alert"
					ng-show="json.notFoundIngredients.length"
					ng-click="openIngredientModal()">
					{{ json.notFoundIngredients.length }}
					ingredient{{ json.notFoundIngredients.length === 1 ? '' : 's' }} not found
				</button>
			</div>
			<div>
				<h5>Method</h5>
				<ul class="method-list">
					<li ng-repeat="item in json.method track by $index">{{ item }}</li>
				</ul>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="img-container">
				<a ng-href="{{ json.self_url }}" class="th" target="_blank" >
					<img ng-src="{{ json.image }}" />
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Add missing ingredients modal -->
<div class="ingredient-modal-overlay" ng-show="showIngredientModal">
	<div class="ingredient-modal">
		<p class="close" ng-click="closeIngredientModal()">&times;</p>
		<h5>Add missing ingredients</h5>
		<p>Tidy up the names below, choose a type, and save them to the database.</p>

		<div class="callout alert" ng-show="ingredientModalError">
			{{ ingredientModalError }}
		</div>

		<div class="ingredient-row" ng-repeat="ingredient in newIngredients">
			<input type="text" ng-model="ingredient.name" placeholder="Ingredient name" />
			<select ng-model="ingredient.type">
				<option value="solid">Solid</option>
				<option value="liquid">Liquid</option>
			</select>
		</div>

		<div class="ingredient-modal-actions">
			<button class="button"
				ng-click="saveIngredients()"
				ng-disabled="savingIngredients">
				{{ savingIngredients ? 'Saving…' : 'Save ingredients' }}
			</button>
			<button class="button secondary"
				ng-click="closeIngredientModal()"
				ng-disabled="savingIngredients">
				Cancel
			</button>
		</div>
	</div>
</div>
